.body {
    background: #0f1228;
    overflow-x: hidden;
    color: #e7e9f0;
    font-family: 'Lato', sans-serif;
}


.pass-forgot{
    color: #e7e9f0;
}

.design-form{
   
    padding: 18px 85px;
    min-width:300px;
    min-height: 100vh;
    border-width: 0;
    background-color: rgb(11, 26, 43);
    color: #e7e9f0;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(red, green, blue, 0.5);
}

.design-form:hover {
    
    background:rgb(75, 24, 1);
}