{% extends "base.html" %}
{% block body %}

    <header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-6">
                    <h1>Security Cam</h1>
                    <!--<p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations will tickle your culinary senses!</p>-->
                </div>
                <div class="col-6 col-sm align-self-center">
                    <img src="static/css/survellance.png" class="img-fluid">
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <ol class="col-12 breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">About Us</li>

            </ol>
            <div class="col-12">
               <h3>About Us</h3>
               <hr>
            </div>
        </div>

        <div class="row row-content">
            <div class="col-12 col-sm-4 col-md-6">
                <h2>About Project</h2>
                <p>CCTV cameras as a piece of technology has improved the livelihood of several individuals, many testimonies justifying the need of these devices can be collected and put forth to advocate the
                    need for technological advancements</p>
                <p>The traditional surveillance system has not been able to solve the issue of
                    safeguarding the restricted areas effectively. The cameras do not notify the owner about the crime or the unethical activity happening at that
                    particular moment. Other concern is that cameras keep on recording each and every activity, in this process of recording each and every activity
                    it becomes a very tedious process to find the particular video clip when the crime actually happened. To record and store every activity requires
                    huge amount of storage space leading to the wastage of memory.</p>
                <p>These problems would be removed by building a smart CCTV surveillance
                    camera that would start recording only when humans enter the frame and automatically stops recording when there is no human in the frame. The
                    owner can be notified the moment human enters the frame through alarm systems such as sending SMS and Emails. YOLO algorithm can be
                    used to detect the presence of humans in the live video frame of CCTV and for capturing the images and videos OpenCV can be used.</p>

            </div>
            <div class="col-sm">
                <div class="card">
                    <h3 class="card-header bg-primary text-white">Facts At A Glance</h3>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-6">Algorithm</dt>
                            <dd class="col-6">YOLO Algorithm</dd>
                            <dt class="col-6">Libraries, Framework and Protocol</dt>
                            <dd class="col-6">OpenCV, Flask, Twilio and SMTP</dd>
                            <dt class="col-6">Frontend</dt>
                            <dd class="col-6">HTML5, CSS3, Bootstrap5</dd>
                            <dt class="col-6">Database</dt>
                            <dd class="col-6">Sqlite3</dd>
                            <dt class="col-6">Storage</dt>
                            <dd class="col-6">Files and Folders for Images and Videos</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
     <!--       <div class="col-12">
                <div class="card card-body bg-light">
                    <blockquote class="blockquote">
                        <p class="mb-0">You better cut the pizza in four pieces because
                            I'm not hungry enough to eat six.</p>
                        <footer class="blockquote-footer">Yogi Berra,
                            <cite title="Source Title">The Wit and Wisdom of Yogi Berra,
                            P. Pepe, Diversion Books, 2014</cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>-->

                 <!--Tabbed Navigation-->
                   <!-- <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" href="#peter"
                        role="tab" data-toggle="tab">Peter Pan, CEO</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#danny" role="tab"
                        data-toggle="tab">Danny Witherspoon, CFO</a>
                    </li>
                   <li class="nav-item">
                      <a class="nav-link" href="#agumbe"role="tab"
                        data-toggle="tab">Agumbe Tang, CTO</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#alberto" role="tab"
                        data-toggle="tab">Alberto Somayya, Exec. Chef</a>
                    </li>
                </ul>-->
               <!--<div id="accordion">-->
                <div class="row row-content">
                    <h2>Member</h2><br>
                    <div class="card col-12">
                        <div class="card-header" role="tab" id="dannyhead">
                            <h3 class="mb-0"><a data-toggle="collapse" data-target="#danny">Sonu Kumar Gautam <small>Developer</small></a></h3>
                        </div>
                        <div class="collapse" id="danny" data-parent="#accordion" role="tabpanel">
                            <div class="card-body">
                                <img src="static/sonu.jpg" width="150px" class="d-flex mr-3 align-self-center img-thumbnail" alt="sonu">
                                <!--<p class="d-none d-sm-block"><em>bdfsfhjesebfhjsfbshjfbsehjfsebfhsfbfshbrshbrsjrsfbrj</em></p>-->
                            </div>
                        </div>
                    </div>
                    <!--<div class="card col-12">
                        <div class="card-header" role="tab" id="peterhead">
                            <h3 class="mb-0"> <a data-toggle="collapse" data-target="#peter"><small>Developer</small></a></h3>
                        </div>
                        <div class="collapse show" data-parent="#accordion" id="peter" role="tabpanel">
                            <div class="card-body">
                                p class="d-none d-sm-block"><em>efefrfrrrrrrrrvtegerfrfwefregttgrwfrgtgrdgrg</em></p>
                            </div>
                        </div>
                    </div>-->
            </div>
                   <!-- <div class="card">
                        <div class="card-header" role="tab" id="agumbehead">
                            <h3 class="mb-0"><a data-toggle="collapse" data-target="#agumbe"> Agumbe Tang <small>Chief Taste Officer</small></a></h3>
                        </div>
                        <div class="collapse" role="tabpanel" data-parent="#accordion" id="agumbe">
                            <div class="card-body">
                                <p class="d-none d-sm-block">Blessed with the most discerning gustatory sense, Agumbe, our CTO, personally ensures that every dish that we serve meets his exacting tastes. Our chefs dread the tongue lashing that ensues if their dish does not meet his exacting standards. He lives by his motto, <em>You click only if you survive my lick.</em></p>
                            </div>
                        </div>
                    </div>
                  <div class="card">
                        <div class="card-header" role="tab" id="albertohead">
                            <h3 class="mb-0"><a data-toggle="collapse" data-target="#alberto"> Sonu Gautam <small>Executive Chef</small></a></h3>
                        </div>
                        <div class="collapse" id="alberto" role="tabpanel" data-parent="#accordion">
                            <div class="card-body">
                                <p class="d-none d-sm-block">Award winning three-star Michelin chef with wide International experience having worked closely with whos-who in the culinary world, he specializes in creating mouthwatering Indo-Italian fusion experiences. He says, <em>Put together the cuisines from the two craziest cultures, and you get a winning hit! Amma Mia!</em></p>
                            </div>
                        </div>
                    </div>-->
                    

     <!--  <div class="row row-content">
            <div class="col-12 col-sm-9">
                <h2>Facts &amp; Figures</h2>
                 <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>&nbsp;</th>
                                <th>2013</th>
                                <th>2014</th>
                                <th>2015</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Employees</th>
                                <td>15</td>
                                <td>30</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <th>Guests Served</th>
                                <td>15000</td>
                                <td>45000</td>
                                <td>100,000</td>
                            </tr>
                            <tr>
                                <th>Special Events</th>
                                <td>3</td>
                                <td>20</td>
                                <td>45</td>
                            </tr>
                            <tr>
                                <th>Annual Turnover</th>
                                <td>$251,325</td>
                                <td>$1,250,375</td>
                                <td>~$3,000,000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> 
            <div class="col-12 col-sm-3">
                
            </div>  
       </div>-->
    </div>
   {% endblock %}
