

{% extends "base.html" %}
{% block body %}
<html>
<head>
<link rel="stylesheet" href="static/css/register.css"/>
<link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head> 
<body class="body">
    {% with messages=get_flashed_messages(with_categories=true) %}

         {% if messages %}
        {% for category,message in messages %}
            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <section class="vh-100">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
              <img src="static/css/survellance.png"
                class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 design-form mb-4 mt-5">
              <form action="/register" method="post">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
                <div class="form-outline mb-4">
                    <input type="text" id="firstname" name="firstname" class="form-control form-control-lg mt-4"
                      placeholder="Enter the name" required/>
                    <label class="form-label" for="firstname">Name</label>
                </div>
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="emailid" name="emailid" class="form-control form-control-lg mt-4"
                    placeholder="Enter a valid email address" required/>
                  <label class="form-label" for="emailid">Email address</label>
                </div>
      
                <!-- Password input -->
                <div class="form-outline mb-3">
                  <input type="password" id="pass" name="pass" class="form-control form-control-lg"
                    placeholder="Enter password" required/>
                  <label class="form-label" for="pass">Password</label>
                </div>

                <div class="form-outline mb-3">
                    <input type="tel" id="mobilenum" name="mobilenum" pattern='[0-9]{10}' class="form-control form-control-lg"
                      placeholder="Enter Mobile Number" required/>
                    <label class="form-label" for="mobilenum">Mobile Number</label>
                </div>
      
                <div class="d-flex justify-content-between align-items-center">
                  <!-- Checkbox -->
                  <div class="form-check mb-0">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                    <label class="form-check-label" for="form2Example3">
                      Remember me
                    </label>
                  </div>
                  
                </div>
      
                <div class="text-center text-lg-start mt-4 pt-2">
                  <button type="submit" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">SignUp</button>
                 
                </div>
      
              </form>
            </div>
          </div>
        </div>
       
         
          <!-- Copyright -->
      
          <!-- Right -->
          
          <!-- Right -->
        </div>
      </section>
</body>
</html>
{% endblock %}
